<div *ngFor="let city of cities" class="d-flex flex-row justify-content-center m-5">
<div  class="card col-8">
        <div class="card-body">
          <h5 class="card-title">{{city.name}}</h5>
              <strong>Activités</strong>
              <p class="card-text" *ngFor="let activity of city.activities">{{activity.description}}</p>
              <hr>
              <strong>Pays</strong>
              <p class="card-text">{{city.contry.name}}</p>
              <hr>
              <strong>Hôtels</strong>
              <p *ngFor="let hosting of city.hostings" class="card-text">{{hosting.name}}</p>
              <hr>
          <a href="#" class="btn btn-primary">Détails</a>
        </div>
      </div>
      </div>